/* Estilos globales */
body {
  background-color: #fff6dc!important;
  font-family: 'Gandhi Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Novecento Wide', sans-serif;
}

.subtitle {
  font-family: 'Raleway', sans-serif;
}

.bg-default {
  background-color: #fff6dc!important;
}

.bg-blue {
  background-color: #07538a;
}

.bg-gold {
  background-color: #a3915f;
}

.bg-yellow {
  background-color: #fed55e;
}

.text-blue {
  color: #07538a;
}

.text-gold {
  color: #a3915f;
}

.text-yellow {
  color: #fed55e;
}

.v-data-table {
  border-radius: 5px !important;
  overflow: hidden !important;
  font-family: 'Gandhi Sans', sans-serif !important;
}

.v-data-table-header {
  background-color: #a3915f !important;
  border-radius: 20px !important;
  font-family: 'Novecento Wide', sans-serif !important;
}

.v-data-table-header th {
  color: white !important;
  font-family: 'Novecento Wide', sans-serif !important;
  font-size: 14px !important;
}

.v-data-table-header th.sortable {
  color: white !important;
}

.v-expansion-panel-header__icon .v-icon {
  color: white !important;
}

.v-data-table tbody td {
  font-family: 'Gandhi Sans', sans-serif !important;
}

.cursor-pointer tbody tr {
  cursor: pointer !important;
}