/* Estilos globales */
body {
  background-color: #fff6dc;
  font-family: 'Gandhi Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Novecento Wide', sans-serif;
}

.subtitle {
  font-family: 'Raleway', sans-serif;
}

.bg-blue {
  background-color: #07538a;
}

.bg-gold {
  background-color: #a3915f;
}

.bg-yellow {
  background-color: #fed55e;
}

.text-blue {
  color: #07538a;
}

.text-gold {
  color: #a3915f;
}

.text-yellow {
  color: #fed55e;
}